*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.bloop
.bsp
.metals

# Scala-IDE specific
.scala_dependencies
.worksheet
.vscode

# IntelliJ IDEA
.idea
*.iml
out
*.sc

# GitBook
doc/node_modules/
_book
